<!DOCTYPE html>
<html b: css = 'false'>
<meta charset="UTF-8">
<meta name=viewport content="width=device-width,initial-scale=1">
<meta http-equiv=X-UA-Compatible content="IE=edge">
<title> my portfolio for web and app desktop </title>
<meta name="description" content="Every web developer should have a basic understanding of HTML, CSS, and JavaScript. Responsive web design is used in all types of modern web and through this page you will see my work in web and desktop app">
<meta name="keywords" content="HTML , css , js , SQL , Python , WEB DEVELOPMENT" />
<meta name="author" content="Oussama Ben"
<meta name="google-site-verification" content="XLgVnpq7P3G4smyNUtC6AOJaNDOyi3bpPlO7969S1pQ" />
<link rel="shortcut icon" type="text/css" href="static/images/favicon.ico">
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> had link wa9il kayn ltaht apri nfasih-->


<link rel="stylesheet" type="text/css" href="static/css/style.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
h2 {
  color: white;
}
</style>
<body>
 <style>
    p a { text-decoration: none; }
  </style>
  <div class="background"><img src="static/images/background_sibna.avif" alt="sibna logo.avif"></div>
    


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4"> 
        <div class="w3-display-container">
          <img src="static/images/ssama.avif" style="width:100%" width="100%" height="100%" alt="my image profile.avif">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>OUSSAMA BEN</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue"></i>software developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue"></i>Algeria , DZ</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i>oussama*******@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue"></i>066694****</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-red"></i>Skills</b></p>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:90%">90%</div>
          </div>
          <p>SQL</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:50%">
              <div class="w3-center w3-text-white">50%</div>
            </div>
          </div>
          <p>Network</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:65%">65%</div>
          </div>
          <p>Linux</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:50%">50%</div>
          </div>
          <p>html</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:65%">65%</div>
          </div>
          <p>css</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:65%">65%</div>
          </div>
          <p>js</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:30%">30%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-red"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-pink" style="height:24px;width:80%"></div>
          </div>
          <p>Arabic</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-purple" style="height:24px;width:100%"></div>
            
          </div>
         <!-- <p>German</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div>-->
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->

    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Desktop Application Developer</b></h5>
          <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Juil 2017 <span class="w3-tag w3-blue w3-round">Current</span></h6>
          <p>I started in this field from 2017 to 2021, and built some applications <a href="https://github.com/Oussama4553/Save-Desktop--files" target="_blank"><span style="color: #4682B4">(Desktop app)</span></a> The language used is Interface Python * TKINTER * and SQL .</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer</b></h5>
          <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2020</h6>
          <p>I started in this field from 2020 to 2021, and created some websites <a href="https://oussama4553.github.io/SIBNA//" target="_blank"><span style="color: #4682B4">(websites)</span></a> The language used in the design is html5 and css and js and framework bootstrap and django.</p>
          <hr>
        </div>
        <!--<div class="w3-container">
          <h5 class="w3-opacity"><b>Network Officer</b></h5>
          <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2021</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
        </div>-->
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Learn</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>self education</b></h5>
          <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p>information security information technology</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>School of Coding</b></h5>
          <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - 2015</h6>
          <p>Bachelor Degree</p><br>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Certificates</b></h5>
          <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2017</h6>
          <p>Comptia A+ , Comptia Network , Comptia Linux+ , Comptia Security</p>
          <hr>
        </div>
      
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Testimonials these days</b></h5>
          <h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2021</h6>
          <p>CCNA Routing and switching , CCNA Security</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>My future certificates</b></h5>
          <!--<h6 class="w3-text-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>-->
          <p>CEH V10 , LPT</p><br>
          <hr>
        </div>

        <a href="porjikt_cv.html"><i class="fa fa-mail-forward " style="font-size:48px;float:right; color:#32F4C5"></i></a>
          <!-- start dark mode -->
   <label class="switch">
        <input type="checkbox" onclick="changeMode()">
        <span class="slider"></span>
      </label>
    </div>
   
  <!-- end dark mode -->
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
<hr>
<div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="https://portfolio-me-web.epizy.com/porjikt_cv.html">Web design</a></li>
                            <li><a href="https://portfolio-me-web.epizy.com/porjikt_cv.html#experience">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="http://www.sibnacompany.ga/index.html">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="https://t.me/sibna_SIT">contacts</a></li>
                        </ul>
                    </div>
                   <div class="col-sm-4 col-md-3 item">
                        <h3>telegram</h3>
                        <ul>
                            <li><a href="https://t.me/Ssama16">my personal account</a></li>
                            <!--<li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>-->
                        </ul>
                    </div>
                    <div class="col-lg-3 item social">
                        <a href="https://web.facebook.com/SsamaRoch"><i class="icon ion-social-facebook"></i></a>
                        <a href="https://twitter.com/oussama_ben_sit"><i class="icon ion-social-twitter"></i></a>
                        <a href="https://github.com/Oussama4553"><i class="icon ion-social-github"></i></a>
                        <a href="https://www.instagram.com/sibna_coding/"><i class="icon ion-social-instagram"></i></a>
                        <p class="copyright">Company Sibna © 2021</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
<script>
      function changeMode() {
         var element = document.body;
         element.classList.toggle("dark-mode");
      }
    </script>
  <!-- end dark mode -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  
</body>
</html>
